asgiref==3.11.0
attrs==25.4.0
autobahn==24.4.2
Automat==25.4.16
cffi==2.0.0
channels==4.3.2
constantly==23.10.4
cryptography==46.0.5
daphne==4.2.1
Django==5.2.9
hyperlink==21.0.0
idna==3.11
Incremental==24.11.0
JsonForm==0.0.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
JsonSir==0.0.2
packaging==26.0
pip==23.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==3.0
pyOpenSSL==25.3.0
Python-EasyConfig==0.1.7
PyYAML==6.0.3
referencing==0.37.0
Resource==0.2.1
rpds-py==0.30.0
service-identity==24.2.0
setuptools==65.5.0
six==1.17.0
sqlparse==0.5.4
tomli==2.4.0
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
zope.interface==8.2
